@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Poppins:300,400,700');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: #DF0000;
    margin-top: 0;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

h1 {
    font-size: 194%;
}

h2 {
    font-size: 176%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 145%;
}

h5 {
    font-size: 132%;
}

h6 {
    font-size: 120%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 100%;
    color: #FFFFE8;
    background-color: #0D0D0D;
    width: 100%;
}

a:link,a:visited {
    color: #FFFFE8;

}

a:hover {
    color: #DF0000;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;
}

.space-under {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

@media screen and  (min-width: 112.500rem) {

    body {
        width: 112.500rem;
        margin: 0 auto;
    }
}

/* /root */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 10px;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 3px #DF0000 solid;
    background-color: #C9C0BB;
    background: -webkit-gradient(linear, left top, left bottom, from(#C9C0BB), to(#0D0D0D));
    background: linear-gradient(to bottom, #C9C0BB, #0D0D0D);
    position: fixed;
    top: 0;
}

.vis-ikke {
    display: none;
}

.logo_head {
    width: auto;
    height: 6vh;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 50rem) {

        header {
            padding: 1rem 0;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            /*justify-content: flex-start;*/
            -ms-flex-line-pack: center;
                align-content: center;
            /*align-items: center;*/
            position: static;
        }

        .logo {
            margin: 0;
        }

        .logo_head {
            height: 10vh;
        }
    }
}

.nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 110%;
    margin-right: 16px;
    margin-right: 1rem;
}

.menu-item {
    padding: 20px 28px;
    border-top: #DF0000 1px solid;
    border-left: #DF0000 1px solid;
    border-right: #DF0000 1px solid;
    text-align: center;
}

.menu-item:last-child {
    border-bottom: #DF0000 1px solid;
}

.fjern {
    display: block;
}

.nav .menu {
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
}

.nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

.nav .menu-icon .navicon {
    background: #DF0000;
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
    width: 18px;
}

.nav .menu-icon .navicon:before,
.nav .menu-icon .navicon:after {
    background: #DF0000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}

.nav .menu-icon .navicon:before {
    top: 5px;
}

.nav .menu-icon .navicon:after {
    top: -5px;
}

.nav .menu-btn {
    display: none;
}

.nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}

.nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

.nav .menu-btn:checked ~ .menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

.nav .menu-btn:checked ~ .menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.noshow {
    display: none;
}

.show {
    display: block;
}

.nav a:hover {
    text-decoration: underline;
}

.nav .active a:link,.nav .active a:visited {
    text-decoration: underline;
}

.sidebar_nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 9.6px;
    padding: 0.6rem;
}

@media screen and (min-width: 700px) {

    .sidebar_nav {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
            -ms-flex-direction: row;
                flex-direction: row;
    }
}

.velkommen {
    width: 25%;
    padding-right: 16px;
    padding-right: 1rem;
}

.sidebar_menu {
    width: 75%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
}

.sidebar_nav-item {
    padding: 8px;
    padding: .5rem;
    margin-right: 8px;
    margin-right: 0.5rem;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 50rem) {

        .nav {
            margin: 0;
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
        }

        .menu-item {
            margin-left: 5px;
            display: inline-block;
            padding: 10px 15px;
            border-top: none;
            border-left: none;
            border-right: none;
            text-align: center;
        }

        .menu-item:last-child {
            border-bottom: none;
        }

        .nav a:hover {
            text-decoration: none;
        }

        .nav .active a:link,.nav .active a:visited {
            text-decoration: none;
        }

        .menu-item a:link,.menu-item a:visited {
            text-decoration: none;
        }

        .menu-item.active {
            border-bottom: 4px solid #DF0000;
        }

        .menu-item:hover {
            border-bottom: 4px solid #DF0000;
            -webkit-transition: all .3s ease-in;
            transition: all .3s ease-in;
        }

        .show {
            display: none;
        }

        .noshow {
            display: block;
        }

        .fjern {
            display: none;
        }

        .nav .menu-icon .navicon {
            display: none;
        }
    }
}

footer {
    margin-top: 32px;
    margin-top: 2rem;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background-color: #C9C0BB;
    background: -webkit-gradient(linear, left top, left bottom, from(#0D0D0D), to(#C9C0BB));
    background: linear-gradient(to bottom, #0D0D0D, #C9C0BB);
    border-top: 3px solid #DF0000;
}

.copyright {
    font-size: 12.8px;
    font-size: .8rem;
    text-align: center;
    padding:10px;
}

.foot-kontakt {
    text-align: center;
    padding: 10px;
}

.foot-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
    font-size: 40px;
    font-size: 2.5rem;
}

footer .foot-social .soc-icon a:link,footer .foot-social .soc-icon a:visited {
    color: #DF0000;
}

.dev {
    font-size: 8px;
    position: absolute;
    margin-bottom: 0;
    margin-right: 0;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 50rem) {

        footer {
            -webkit-box-orient: horizontal;
            -webkit-box-direction: normal;
                -ms-flex-direction: row;
                    flex-direction: row;
            -webkit-box-pack: justify;
                -ms-flex-pack: justify;
                    justify-content: space-between;
        }

        .copyright {
            width: 33.3%
        }

        .foot-kontakt {
            width: 33.3%
        }

        .foot-social {
            width: 33.3%
        }

    }

}

main {
    display: block;
    width: 100%;
    min-height: 75vh;
    padding: 10px;
    max-width: 800px;
    max-width: 50rem;
    margin: 100px auto 0 auto;
    margin: 6.250rem auto 0 auto;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 50rem) {

        main {
            max-width: 100%;
            margin: 2rem auto;
        }

    }
}

/************************************************
* Kontakt form
 *************************************************/

.kontakt-side {
    width: 100%;
}

.meddelse {
    margin-top: 10px;
    padding: 10px;

}

.kontakt_form {
    color: #FFFFE8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.kontakt-box {
}

.form_item {
    width: 40%;
}

.textfelt {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
}

.textboks {
    width: 100%;
    height: 160px;
    height: 10rem;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
}

.sendknap {
    padding:  10px 20px;
    display: block;
    margin-right: 0 !important;
    margin-left: auto !important;
    font-family: inherit;
    color: #FFFFE8;
    background-color: #137506;
    outline: none;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0 5px #1F1F1F;
            box-shadow: 0 5px #1F1F1F;
}

.sendknap:active {
    -webkit-box-shadow: 0 2px #383838;
            box-shadow: 0 2px #383838;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
}

/***************************************************
* Kontakt Information and about
 ****************************************************/

.flex-con {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.kontakt_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10px;
}

.con-about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start
}

.con-about .af-box {
    width: 40%;
}

.con-about .about-headline {
    width: 60%;
}

.con-about .about-headline h4 {
    text-align: end;
}

.con-about .about-content {
    width: 100%;
    margin-top: 32px;
    margin-top: 2rem;
}

.con-about .about-foto {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 50%;
}

/******************************************************
* Sociale medier
 ******************************************************/

.kontakt-soc {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.kontakt-icon {
    font-size: 40px;
    font-size: 2.5rem;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 50rem) {

        .kontakt-side {
            display: grid;
            grid-template-columns: 3fr 3fr 1fr;
            grid-gap: 1rem;
            grid-template-areas:

            "adrinfo form social"
        ;
        }

        .con_about {
            grid-area: adrinfo;
        }

.kontakt_form {
    grid-area: form;
}

.form_item {
    width: 100%;
}

.soc {
    grid-area: social;
}

.flex-con {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

        .kontakt-soc {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end
    }

        .kontakt-soc .kontakt-icon {
            margin-top: 4rem;
        }

    .kontakt_info {
        margin-bottom: 4rem;
    }


    }


}

.news_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.news_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.news_foto_boks {
    width: 100%;

}

.news_foto_boks h2 {
    font-size: 120%;
    text-align: center;
    margin-top: 32px;
    margin-top: 2rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.news_photo {
    width: 100%;
    height: auto;
}

.news_summary {
    padding: 32px;
    padding: 2rem;

}

.border {
    border-top: 1px #DF0000 solid;
    padding: 12.8px 0;
    padding: 0.8rem 0;
}

.news_summary .lille {
    font-size: 12.8px;
    font-size: 0.8rem;
    margin-top: 80%
}

.loginknap {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: inherit;
    color: #FFFFE8;
    background-color: #137506;
    outline: none;
    border: 3px #137506 solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.loginknap:active {
    border: inset 3px #092604;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;

}

.error {
    font-weight: bold;
    color: #DF0000;
}

.success {
    font-weight: bold;
    color: #137506;
}

.error_border {
    border: 2px #DF0000 solid;
    background-color: rgba(223, 0, 0, .5);
    color: #FFFFE8;
}

.table-box {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.box-space {
    margin: 32px 0;
    margin: 2rem 0;
}

.form_buttons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.form_item {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.content-box h5 {
    text-align: center;
}

.del_button {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: inherit;
    color: #FFFFE8;
    background-color: #DF0000;
    outline: none;
    border: 3px #DF0000 solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.del_button:active {
    border: inset 3px #B00000;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;
}

.small {
    font-size: 12.8px;
    font-size: 0.8rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.login_box {
    padding: 16px;
    padding: 1rem;
    margin-bottom: 32px;
    margin-bottom: 2rem;
    max-width: 600px;
    margin: 0 auto 32px auto;
    margin: 0 auto 2rem auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center

}

.login_box tabel, .login_box th, .login_box tr, .login_box td  {
    padding: 16px;
    padding: 1rem;
    border: 1px solid #DF0000;
}

.login_box th {
    background-color: #DF0000;
}

.centered_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
}

.not_found_svg {
    width: 100%;
    height: auto;
    max-width: 592px;
    max-width: 37rem;
    display: block;
    margin: 32px auto;
    margin: 2rem auto;
}

/**********************************
* Billeder
**********************************/

.port {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    /*margin: 0 auto;*/

}

.lands {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    /*margin: 0 auto;*/
}

/*=================================Photos===========================*/

.front-foto {
    width: 100%;
}

.photo-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    border-bottom: 3px solid #DF0000;
    padding-bottom: 16px;
    padding-bottom: 1rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 37.500rem) {

        .front-foto {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 2rem;
        }

        .photo-card {
            margin-bottom: 0;
        }
    }


    @media screen and (min-width: 40rem) {

        .forside {
            display: grid;
            grid-gap: 2rem;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: auto;
            grid-template-areas: "fotos fotos fotos about" "fotos fotos fotos news" "fotos fotos fotos news";
        }

        .front-foto {
            grid-area: fotos;
        }

        .about {
            grid-area: about;
        }

        .front-news {
            grid-area: news;
        }

    }



    @media screen and (min-width: 55rem) {

        .front-foto {
            grid-template-columns: repeat(3, 1fr);
        }

    }

    @media screen and (min-width: 75rem) {

    .front-foto {
        grid-template-columns: repeat(4, 1fr);
    }

}

    @media screen and (min-width: 100rem) {

        .front-foto {
            grid-template-columns: repeat(5, 1fr);
        }

    }



    @media screen and (min-width: 112.500rem) {

        .front-foto {
            grid-template-columns: repeat(6, 1fr);
        }
    }

}

/*=================================News=============================*/

.front-news {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;

   }

.news-card {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    margin-bottom: 32px;
    margin-bottom: 2rem;
    border: 1px solid #DF0000;
    padding: 16px;
    padding: 1rem;
}

.top {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.front_newsfoto {
    width: 100%;
    height: auto;
    max-width: 350px;
    margin: 0;
}

.front_newsfoto_box {
    width: 40%;
    }

.front_newsbox {
    width: 58%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 8px;
    padding: 0.5rem;
}

.news_info {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between
}

.news_info h6 {
    font-size: 12.8px;
    font-size: 0.8rem;
}

.front_news_content {
    width: 100%;
    padding: 8px;
    padding: .5rem;
}

/*=================================About============================*/

.about {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}

.af-box {
    width: 40%;
}

.about-headline {
    width: 60%;
    text-align: center;
}

.about-content {
    width: 100%;
    margin-top: 32px;
    margin-top: 2rem;
}

.about-foto {
    width: 100%;
    height: auto;
    max-width: 250px;
    border-radius: 50%;
}

.sidebar {
    width: 100%;
}

.sidebar nav .side-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.side_nav_item {
    padding: 16px;
    padding: 1rem;
    text-align: center;
}

.side_nav_item a:link,.side_nav_item a:visited {
    text-decoration: none;
}

.side_nav_item .active {
    color: #DF0000;
}

.fotoside_fotobox h3 {
    text-align: center;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 37.500rem) {
        .fotos {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }
    }

    @media screen and (min-width: 60rem) {

        .foto-side {

            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: auto;
            grid-template-areas:
        "sidebar fotos fotos fotos fotos fotos fotos";
}

        .sidebar {
            grid-area: sidebar;
}

        .fotos {
            grid-area: fotos;
            grid-template-columns: repeat(3, 1fr);
        }

        .sidebar nav .side-nav {
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
                -ms-flex-direction: column;
                    flex-direction: column;
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: flex-start;
        }
    }

    @media screen and (min-width: 50rem) {
        .fotos {
            grid-template-columns: repeat(4, 1fr);
        }

        .fotos .fotoside_fotobox {
            display: grid;
         }

        .foto_caption,
        .foto_fill {
            grid-column: 1;
            grid-row: 1;
        }

        .foto_fill {
            -webkit-box-align: start;
                -ms-flex-align: start;
                    align-items: start;
         }

        .foto_caption {
            opacity: 0;
            background-color: rgba(0, 0, 0, .5);
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            padding: 1rem;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center;
            -webkit-box-align: end;
                -ms-flex-align: end;
                    align-items: flex-end;
        }

        .foto_caption:hover {
            opacity: 1;
            -webkit-transition: all .8s;
            transition: all .8s;
        }

    }

    @media screen and (min-width: 75rem) {
        .fotos {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    @media screen and (min-width: 100rem) {
        .fotos {
            grid-template-columns: repeat(6, 1fr);
        }
    }

    @media screen and (min-width: 112.500rem) {
        .fotos {
            grid-template-columns: repeat(7, 1fr);
        }
    }

}

.news-lands {
    width: 100%;
    height: auto;
}

.newsside_newsbox {
    padding: 16px 0;
    padding: 1rem 0;
}

.news-headline {
      background-color: #DF0000;
     padding: 8px;
     padding: .5rem
  }

.news-headline h4 {
    color: #FFFFE8;
}

.news_subline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 6.4px;
    padding: .4rem;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 60rem) {

        .news-side {

            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: auto;
            grid-template-areas: "sidebar news news news news news news";
        }

        .sidebar {
            grid-area: sidebar;
        }

        .news {
            grid-area: news;
            grid-template-columns: repeat(3, 1fr);
        }

        .news {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 1rem;
        }
    }

    @media screen and (min-width: 75rem) {

        .news {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.stor_nyhed {
    display: block;
    width: 100%;
    max-width: 640px;
    max-width: 40rem;
    margin: 0 auto;
}

.overskrift {
    padding: 24px;
    padding: 1.5rem
}

.overskrift h3 {
    text-align: center;
}

.news_subline {
    padding-top: 16px;
    padding-top: 1rem;
    border-top: 1px solid #DF0000;
    border-bottom: 1px solid #DF0000;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

@media screen and (min-width: 60rem) {

    .onenews-side {

        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-template-rows: auto;
        grid-template-areas: "sidebar news news news news news news";
    }

    .sidebar {
        grid-area: sidebar;
    }

    .one_news {
        grid-area: news;

    }

}

.admin-photo-box {
    width: 100%;
    padding: 12.8px;
    padding: 0.8rem;
}

.side-titel {
    padding-left: 8px;
    padding-left: 0.5rem;
}

.photo_box {
    margin-bottom: 16px;
    margin-bottom: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.vis-foto {
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.foto-caption {
    padding: 8px;
    padding: 0.5rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.slet-foto {
    padding: 8px;
    padding: 0.5rem;
}

.del-photo-box {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.del-photo-box img {
    margin: 0 auto 16px auto;
    margin: 0 auto 1rem auto;
}

.del-photo-box h5 {
    text-align: center;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 37.500rem) {

        .photo_box {
            margin-bottom: 0;
        }

        .admin-photo-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 1rem;
        }
    }

    @media screen and (min-width: 50rem) {

        .admin-photo-box {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 75rem) {

        .admin-photo-box {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media screen and (min-width: 112.500rem) {

        .admin-photo-box {
            grid-template-columns: repeat(6, 1fr);
        }
    }
}

.vis-nyheder-box {
    width: 100%;
    padding: 8px;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    max-width: 800px;
    max-width: 50rem;
    margin: 0 auto;
}

.vis-nyheder {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 32px;
    margin-bottom: 2rem;
    border: 1px solid #DF0000;
}

.nyhed-head {
    background-color: #DF0000;
    padding: 8px;
    padding: 0.5rem
}

.nyhed-head h5 {
    color: #0D0D0D;
}

.nyhed-foto {
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.nyhed-foto img{
    margin: 0 auto;
}

.nyhed-info {
    padding: 8px;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 32px;
    margin-bottom: 2rem;
}

.nyhed-text {
    padding: 8px;
    padding: 0.5rem;
    margin-bottom: 40px;
    margin-bottom: 2.5rem;
}

.nyhed-slet {
    padding: 8px;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.en-nyhed-box {
    width: 100%;
    padding: 8px;
    padding: 0.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    /*align-items: center;*/
    -webkit-box-pack: baseline;
        -ms-flex-pack: baseline;
            justify-content: baseline;
    max-width: 800px;
    max-width: 50rem;
    margin: 0 auto;
}

.slet-nyhed-head {
    padding: 8px;
    padding: 0.5rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.store-knapper {
    padding: 8px;
    padding: 0.5rem;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 40.625em) {

        .vis-nyheder-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 1rem;
            -webkit-box-align: stretch;
                -ms-flex-align: stretch;
                    align-items: stretch;
            max-width: 100%;
        }

        .vis-nyheder {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 56.250rem) {

        .vis-nyheder-box {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 75.000rem) {

        .vis-nyheder-box {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media screen and (min-width: 112.500rem) {

        .vis-nyheder-box {
            grid-template-columns: repeat(6, 1fr);
        }
    }

}

html.lb-disable-scrolling {
    overflow: hidden;
    /* Position fixed required for iOS. Just putting overflow: hidden; on the body is not enough. */
    position: fixed;
    height: 100vh;
    width: 100vw;
}

.lightboxOverlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999;
    background-color: black;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    opacity: 0.8;
    display: none;
}

.lightbox {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10000;
    text-align: center;
    line-height: 0;
    font-weight: normal;
}

.lightbox .lb-image {
    display: block;
    height: auto;
    max-width: inherit;
    max-height: none;
    border-radius: 3px;

    /* Image border */
    border: 4px solid white;
}

.lightbox a img {
    border: none;
}

.lb-outerContainer {
    position: relative;
    *zoom: 1;
    width: 250px;
    height: 250px;
    margin: 0 auto;
    border-radius: 4px;

    /* Background color behind image.
       This is visible during transitions. */
    background-color: white;
}

.lb-outerContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-loader {
    position: absolute;
    top: 43%;
    left: 0;
    height: 25%;
    width: 100%;
    text-align: center;
    line-height: 0;
}

.lb-cancel {
    display: block;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    background: url(./../images/loading.gif) no-repeat;
}

.lb-nav {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
}

.lb-container > .nav {
    left: 0;
}

.lb-nav a {
    outline: none;
    background-image: url('data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==');
}

.lb-prev, .lb-next {
    height: 100%;
    cursor: pointer;
    display: block;
}

.lb-nav a.lb-prev {
    width: 34%;
    left: 0;
    float: left;
    background: url(./../images/prev.png) left 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-prev:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-nav a.lb-next {
    width: 64%;
    right: 0;
    float: right;
    background: url(./../images/next.png) right 48% no-repeat;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    -webkit-transition: opacity 0.6s;
    transition: opacity 0.6s;
}

.lb-nav a.lb-next:hover {
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.lb-dataContainer {
    margin: 0 auto;
    padding-top: 5px;
    *zoom: 1;
    width: 100%;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.lb-dataContainer:after {
    content: "";
    display: table;
    clear: both;
}

.lb-data {
    padding: 0 4px;
    color: #ccc;
}

.lb-data .lb-details {
    width: 85%;
    float: left;
    text-align: left;
    line-height: 1.1em;
}

.lb-data .lb-caption {
    font-size: 13px;
    font-weight: bold;
    line-height: 1em;
}

.lb-data .lb-caption a {
    color: #4ae;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-bottom: 1em;
    font-size: 12px;
    color: #999999;
}

.lb-data .lb-close {
    display: block;
    float: right;
    width: 30px;
    height: 30px;
    background: url(./../images/close.png) top right no-repeat;
    text-align: right;
    outline: none;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
}

.lb-data .lb-close:hover {
    cursor: pointer;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}
/*# sourceMappingURL=style.css.map */
