@import url('https://fonts.googleapis.com/css?family=Comfortaa:400,700|Poppins:300,400,700');

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    margin: 0;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Comfortaa', cursive;
    font-weight: 700;
    color: #DF0000;
    margin-top: 0;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

h1 {
    font-size: 194%;
}

h2 {
    font-size: 176%;
}

h3 {
    font-size: 160%;
}

h4 {
    font-size: 145%;
}

h5 {
    font-size: 132%;
}

h6 {
    font-size: 120%;
}

body {
    font-family: 'Poppins', sans-serif;
    line-height: 100%;
    color: #FFFFE8;
}

a:link,a:visited {
    color: #FFFFE8;

}

a:hover {
    color: #DF0000;
    -webkit-transition: color .3s ease-in;
    transition: color .3s ease-in;

}

body {
    background-color: #0D0D0D;
}

/* /root */

header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100vw;
    padding: 10px;
    margin: 0;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 3px #DF0000 solid;
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFE8), to(#0D0D0D));
    background: linear-gradient(to bottom, #FFFFE8, #0D0D0D);
    position: fixed;
    top: 0;
}

.usynlig {
    display: none;
}

.show {
    display: block;
}

.logo {
        width: 50%;
    }

.logo_head {
        width: auto;
        height: 8vh;
    }

nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    font-size: 110%;
}

.menu-item {
    padding: 20px 28px;
    border-top: #DF0000 1px solid;
    border-left: #DF0000 1px solid;
    border-right: #DF0000 1px solid;
    text-align: center;
}

.menu-item:last-child {
    border-bottom: #DF0000 1px solid;
}

nav .menu {
    max-height: 0;
    -webkit-transition: max-height .2s ease-out;
    transition: max-height .2s ease-out;
}

nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
}

nav .menu-icon .navicon {
    background: #DF0000;
    display: block;
    height: 2px;
    position: relative;
    -webkit-transition: background .2s ease-out;
    transition: background .2s ease-out;
    width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon .navicon:after {
    background: #DF0000;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    -webkit-transition: all .2s ease-out;
    transition: all .2s ease-out;
    width: 100%;
}

nav .menu-icon .navicon:before {
    top: 5px;
}

nav .menu-icon .navicon:after {
    top: -5px;
}

nav .menu-btn {
    display: none;
}

nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}

.noshow {
    display: none;
}

.show {
    display: block;
}

nav a:link, nav a:visited, nav a:active {
    color: #FFFFE8;
    text-decoration: none;
}

nav a:hover {
    color: #DF0000;
    text-decoration: underline;
}

nav .active a:link,nav .active a:visited {
    color: #DF0000;
    text-decoration: underline;
}

footer {
    margin-top: 32px;
    margin-top: 2rem;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: -webkit-gradient(linear, left top, left bottom, from(#0D0D0D), to(#FFFFE8));
    background: linear-gradient(to bottom, #0D0D0D, #FFFFE8);
}

.copyright {
    font-size: 12.8px;
    font-size: .8rem;
    text-align: center;
    padding:10px;
}

.foot-kontakt {
    text-align: center;
    padding: 10px;
}

.foot-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 10px;
    font-size: 40px;
    font-size: 2.5rem;
}

footer .foot-social .soc-icon a:link,footer .foot-social .soc-icon a:visited {
    color: #DF0000;
}

main {
    width: 100%;
    padding: 10px;
    margin-top: 100px;
}

.to-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-row-gap: 5px;
    padding: 10px;
}

.tre-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-row-gap: 10px;
    padding: 10px;
}

.grid-news {
    display: grid;

}

.meddelse {
    margin-top: 10px;
    padding: 10px;
}

.kontakt_form {
    color: #FFFFE8;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;


}

.textfelt {
    width: 100%;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
}

.textboks {
    width: 100%;
    height: 160px;
    height: 10rem;
    padding: 5px;
    border-radius: 5px;
    font-family: inherit;
}

.form_item {
    text-align: left;
    width: 70%;
    margin-bottom: 10px;
}

.sendknap {
    padding:  10px 20px;
    display: block;
    margin-right: 0 !important;
    margin-left: auto !important;
    font-family: inherit;
    color: #FFFFE8;
    background-color: #137506;
    outline: none;
    border:none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    -webkit-box-shadow: 0 5px #1F1F1F;
            box-shadow: 0 5px #1F1F1F;
}

.sendknap:active {
    -webkit-box-shadow: 0 2px #383838;
            box-shadow: 0 2px #383838;
    -webkit-transform: translateY(3px);
            transform: translateY(3px);
}

.kontakt_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    padding: 10px;
}

.kontakt-soc {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.kontakt-icon {
    font-size: 40px;
    font-size: 2.5rem;
}

.news_page {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}

.news_item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.news_foto_boks {
    width: 100%;

}

.news_foto_boks h2 {
    font-size: 120%;
    text-align: center;
    margin-top: 32px;
    margin-top: 2rem;
    margin-bottom: 16px;
    margin-bottom: 1rem;
}

.news_photo {
    width: 100%;
    height: auto;
}

.news_summary {
    padding: 32px;
    padding: 2rem;

}

.border {
    border-top: 1px #DF0000 solid;
    padding: 12.8px 0;
    padding: 0.8rem 0;
}

.news_summary .lille {
    font-size: 12.8px;
    font-size: 0.8rem;
    margin-top: 80%
}

.loginknap {
    font-size: 24px;
    font-size: 1.5rem;
    font-family: inherit;
    color: #FFFFE8;
    background-color: #137506;
    outline: none;
    border: 3px #137506 solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
}

.loginknap:active {
    border: inset 3px #092604;
    border-radius: 5px;
    -webkit-transition: all .3s;
    transition: all .3s;

}

.error {
    font-weight: bold;
    color: #DF0000;
}

.error_border {
    border: 2px #DF0000 solid;
    background-color: #DF0000;
}

/*# sourceMappingURL=style.css.map */
