/**********************************
* Billeder
**********************************/

.port {
    width: 100%;
    max-width: 350px;
    height: auto;
    display: block;
    margin: 2rem auto;

}

.lands {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    margin: 2rem auto;
}

