/**********************************
* Billeder
**********************************/

.port {
    width: 100%;
    max-width: 400px;
    height: auto;
    display: block;
    /*margin: 0 auto;*/

}

.lands {
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    /*margin: 0 auto;*/
}

