footer {
    margin-top: 2rem;
    padding: 10px;
    display: flex;
    flex-direction: column;
    background-color: var(--silver);
    background: linear-gradient(to bottom, var(--background), var(--silver));
    border-top: 3px solid var(--headline);
}


.copyright {
    font-size: .8rem;
    text-align: center;
    padding:10px;
}

.foot-kontakt {
    text-align: center;
    padding: 10px;
}

.foot-social {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    font-size: 2.5rem;
}

footer .foot-social .soc-icon a:any-link {
    color: var(--headline);
}

.dev {
    font-size: 8px;
    position: absolute;
    margin-bottom: 0;
    margin-right: 0;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 50rem) {

        footer {
            flex-direction: row;
            justify-content: space-between;
        }

        .copyright {
            width: 33.3%
        }

        .foot-kontakt {
            width: 33.3%
        }

        .foot-social {
            width: 33.3%
        }

    }

}
