.to-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr;
    grid-row-gap: 5px;
    padding: 10px;
}

.tre-col-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
    grid-row-gap: 10px;
    padding: 10px;
}

.grid-news {
    display: grid;

}