header {
    display: flex;
    width: 100vw;
    padding: 10px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px var(--headline) solid;
}

.usynlig {
    display: none;
}

.show {
    display: block;
}
    .logo {
        width: 50%;
    }

    .logo_head {
        width: auto;
        height: 8vh;
    }


