header {
    display: flex;
    width: 100vw;
    padding: 10px;
    margin: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px var(--headline) solid;
    background: linear-gradient(to bottom, var(--paragraph), var(--background));
    position: fixed;
    top: 0;
}

.vis-ikke {
    display: none;
}

.logo_head {
    width: auto;
    height: 6vh;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 50rem) {

        header {
            padding: 1rem 0;
            flex-direction: column;
            /*justify-content: flex-start;*/
            align-content: center;
            /*align-items: center;*/
            position: static;
        }

        .logo {
            margin: 0;
        }

        .logo_head {
            height: 10vh;
        }
    }
}


