.loginknap {
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--paragraph);
    background-color: var(--success);
    outline: none;
    border: 3px var(--success) solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2rem;
}

.loginknap:active {
    border: inset 3px #092604;
    border-radius: 5px;
    transition: all .3s;

}

.error {
    font-weight: bold;
    color: var(--headline);
}

.error_border {
    border: 2px var(--headline) solid;
    background-color: var(--opeq_red);
    color: var(--paragraph);
}

.login_box {
    padding: 1rem;
    margin-bottom: 2rem;

 & tabel, & th, & tr, & td  {
    padding: 1rem;
    border: 1px solid var(--headline);
}

 & th {
    background-color: var(--headline);
   }

}