.loginknap {
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--paragraph);
    background-color: var(--success);
    outline: none;
    border: 3px var(--success) solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2rem;
}

.loginknap:active {
    border: inset 3px #092604;
    border-radius: 5px;
    transition: all .3s;

}

.error {
    font-weight: bold;
    color: var(--headline);
}

.success {
    font-weight: bold;
    color: var(--success);
}

.error_border {
    border: 2px var(--headline) solid;
    background-color: var(--opeq_red);
    color: var(--paragraph);
}

.table-box {
    margin-bottom: 2rem;
}

.box-space {
    margin: 2rem 0;
}

.form_buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form_item {
    margin-bottom: 1rem;
}

.content-box h5 {
    text-align: center;
}

.photo_box p {
    text-align: center;
    }

.del_button {
    font-size: 1.5rem;
    font-family: inherit;
    color: var(--paragraph);
    background-color: var(--headline);
    outline: none;
    border: 3px var(--headline) solid;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 2rem;
}

.del_button:active {
    border: inset 3px #B00000;
    border-radius: 5px;
    transition: all .3s;
}

.small {
    font-size: 0.8rem;
    margin-bottom: 1rem;
}

.login_box {
    padding: 1rem;
    margin-bottom: 2rem;
    max-width: 600px;
    margin: 0 auto 2rem auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

 & tabel, & th, & tr, & td  {
    padding: 1rem;
    border: 1px solid var(--headline);
}

 & th {
    background-color: var(--headline);

   }

}