nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    font-size: 110%;
}

nav a {
    display: none;
}

nav a:any-link {
    text-decoration: none;
    color: var(--headline);
 }

nav a:active {
    color: var(--paragraph);
}

nav li {
    padding: 5px;
    position: relative;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
}

nav .menubar {
    transition: max-height .2s ease-out;
}

nav .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 28px 20px;
    position: relative;
    user-select: none;
}

nav .menu-icon .navicon {
    background: var(--headline);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

nav .menu-icon .navicon:before,
nav .menu-icon.navicon:after {
    background: var(--headline);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

nav .menu-icon .navicon:before {
    top: 5px;
}

nav .menu-icon .navicon:after {
    top: -5px;
}

nav .menu-btn {
    display: none;
}

nav .menu-btn:checked ~ .menu {
    max-height: 240px;
}

nav .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}

nav .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}

nav .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}

nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
nav .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
