.vis-nyheder-box {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    max-width: 50rem;
    margin: 0 auto;
}

.vis-nyheder {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
    border: 1px solid var(--headline);
}

.nyhed-head {
    background-color: var(--headline);
    padding: 0.5rem;


    & h5 {
    color: var(--background);
      }
}

.nyhed-foto {
    margin-bottom: 2rem;
}

.nyhed-foto img{
    margin: 0 auto;
}

.nyhed-info {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.nyhed-text {
    padding: 0.5rem;
    margin-bottom: 2.5rem;
}

.nyhed-slet {
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
}

.en-nyhed-box {
    width: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    justify-content: baseline;
    max-width: 50rem;
    margin: 0 auto;
}

.slet-nyhed-head {
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.store-knapper {
    padding: 0.5rem;
}

@supports (grid-area: auto) {

    @media screen and (min-width: 40.625em) {

        .vis-nyheder-box {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto;
            grid-gap: 1rem;
            align-items: stretch;
            max-width: 100%;
        }

        .vis-nyheder {
            margin-bottom: 0;
        }
    }

    @media screen and (min-width: 56.250rem) {

        .vis-nyheder-box {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 75.000rem) {

        .vis-nyheder-box {
            grid-template-columns: repeat(4, 1fr);
        }
    }

    @media screen and (min-width: 112.500rem) {

        .vis-nyheder-box {
            grid-template-columns: repeat(6, 1fr);
        }
    }

}